.DS_Store
node_modules
/build
/.svelte-kit
/package
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

node_modules/
.vercel

# local env files
.env
.env.development.local
.env.production